.button {
	padding: 0;
	border: none;
	height: 60px;
	width: 250px;
	font-size: 22px;
	letter-spacing: 0.77px;
	outline: none;
	border-radius: 9px;
	cursor: pointer;
	font-weight: 500;
	color: #ffffff;
	background: linear-gradient(90deg, #45b6f8 0%, #7bdcfc 100%);

	&:active {
		opacity: 0.5;
	}

	&FullWidth {
		width: 100%;
	}

	&Light {
		background: none;
		border-radius: 9px;
		border: 1px solid #38b6ff;
		color: #38b6ff;
	}
	&Red {
		background: linear-gradient(0deg, #9f041b 0%, #f5515f 100%);
	}
	&Dark {
		background: linear-gradient(135deg, #3a4850 35%, #d6d6d6 140%);
	}
}
