.loginContainer {
	display: flex;
	flex-direction: row;
}

.image {
	height: 100vh;
}

.contentContainer {
	overflow-y: scroll;
	white-space: nowrap;
	max-height: 100vh;
	margin-left: 70px;
	padding-right: 80px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	margin-top: 120px;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #243743;
	margin-bottom: 30px;
	white-space: nowrap;
}

.logo {
	width: 211px;
	margin-bottom: 60px;
}

.registerContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	letter-spacing: 0.77px;
	line-height: 28px;
	margin-top: 10px;
	margin-bottom: 80px;
	color: #a1a9af;
	@media only screen and (max-device-width: 1024px) {
		flex-direction: column;
	}
}

.registerCommon {
	margin-left: 10px;
}

.register {
	font-family: HelveticaNeue-Medium;
	cursor: pointer;
	color: #38b6ff;
	margin-left: 10px;
}
