.Container {
	background-color: #f5f6f9;
}
.title {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: nowrap;
}

.subTitle {
	font-size: 22px;
	color: #243743;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: normal;
}

.serviceNameTitle {
	font-size: 20px;
	color: #a1a9af;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: normal;
}

.questionsContainer {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	background-color: #ffffff;
	border-radius: 8px;
}

.inputWrapper {
	margin-left: 20px;
	margin-right: 40px;
	width: 41%;
	min-width: 300px;
}
.questionsContainerInput {
	display: flex;
	flex-wrap: wrap;
}

.arrowContainer {
	cursor: pointer;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.buttonsContainer {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.modalPopup {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 460px;
	max-width: 1100px;
	background-color: white;
	border-radius: 9px;
}

.modalPopup:focus {
	outline: 0;
}

.modalOverlayPopup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.popupWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popupText {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
}

.popupTextCommon {
	margin-left: 10px;
}
.popupTextBold {
	margin-left: 10px;
	font-family: HelveticaNeue-Medium;
}

.buttonContainer {
	margin-top: 50px;
}
