.Container {
	background-color: #f5f6f9;
}
.title {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: nowrap;
}

.subTitle {
	font-weight: 500;
	font-size: 20px;
	color: #243743;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 25px;
	white-space: normal;
}

.servicesContainer {
	display: flex;
	flex-wrap: wrap;
}
