.checkboxContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	margin-bottom: 5px;
	background-color: #ffffff;
	border: 1px solid #a1a9af;
}

.checkboxContainerChecked {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	margin-bottom: 5px;
	background-color: #38b6ff;
	border: none;
}


.label {
	font-size: 22px;
	color: #4f4f4f;
	margin-left: 20px;
}

.tic {
	width: 20px;
}
