.container {
	position: relative;
	margin-top: 10px;
	margin-right: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	height: 69px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #243743;
	font-size: 18px;
}
.textFirst {
	display: flex;
	align-items: center;
	padding-right: 5px;
	cursor: pointer;
	height: 100%;
	padding-right: 5px;
	margin-left: 15px;
	text-align: left;
	width: 17%;
	word-wrap: break-word;
}

.text {
	display: flex;
	align-items: center;
	padding-right: 5px;
	cursor: pointer;
	height: 100%;
	padding-right: 5px;
	text-align: left;
	width: 17%;
	word-wrap: break-word;
}

.number {
	display: flex;
	align-items: center;
	padding-right: 5px;
	cursor: pointer;
	height: 100%;
	padding-right: 5px;
	text-align: left;
	width: 10%;
	word-wrap: break-word;
}

.email {
	padding-right: 5px;
	text-align: left;
	width: 25%;
	word-wrap: break-word;
}

.emailHref {
	color: #243743;
}

.emailHref:hover {
	color: #38b6ff;
	text-decoration: underline;
}

.icon {
	cursor: pointer;
}

.imgIcon {
	width: 20px;
}

.popup {
	cursor: pointer;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 130px;
	height: 40px;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: 2px 2px 15px 5px rgba(188, 188, 188, 0.11);
}

.giveAccess {
	color: #38b6ff;
}

.remove {
	color: #d0021b;
}
