.svgContainer {
	font-family: Nunito Sans, sans-serif;
	background: rgb(238, 238, 238);
	overflow: visible;
	width: 100%;
	height: 100%;
  }

  .wrapper {
	  height: 400px;
	  margin: 20px;
	  display: flex;
	  flex-direction: column;
	  align-items: stretch;

  }

  .legend {
	margin-top: 30px; 
  }
