* {
	margin: 0;
	padding: 0;
	font-family: HelveticaNeue, sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

html, 
body,
#root {
    height: 100%;
}

body {
	background-color: #ffffff;
}
