.forgotContainer {
	display: flex;
	flex-direction: row;
}

.image {
	height: 100vh;
}

.contentContainer {
	overflow-y: scroll;
	white-space: nowrap;
	max-height: 100vh;
	margin-left: 70px;
	padding-right: 80px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	margin-top: 120px;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #243743;
	margin-bottom: 30px;
	white-space: nowrap;
}

.subTitle {
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	margin-bottom: 30px;
	white-space: normal;
}

.button {
	margin-bottom: 100px;
}

.logo {
	width: 211px;
	margin-bottom: 80px;
}

.modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 800px;
	background-color: white;
	border-radius: 9px;
}
.modal:focus {
	outline: 0;
}

.modalOverlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.popupWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.popupText {
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	margin-bottom: 30px;
	white-space: normal;
}
