.tabContainer {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 250px;
	height: 49px;
	margin-bottom: 9px;
	background-color: #ffffff;
	color: #a1a9af;
	font-size: 15px;
}

.tabContainerActive {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 250px;
	height: 49px;
	margin-bottom: 9px;
	background-color: #ebf7ff;
	color: #38b6ff;
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	font-weight: 600;
	border-left: 4px solid #38b6ff;
}

.tabImageWrapper {
	margin-left: 20px;
}

.tabImageWrapperActive {
	margin-left: 16px;
}
.tabLabelWrapper {
	margin-left: 12px;
}
