$color-4: #3b7ab5;
$color-3: #407fc7;
$color-2: #55c8e5;
$color-1: #88d1fb;
$color-5: #235d93;

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim() {
	@keyframes scale {
		0% {
			transform: scale(1);
		}
		50%,
		75% {
			transform: scale(2.5);
		}
		78%,
		100% {
			opacity: 0;
		}
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
	padding: 20px 0;
	animation-delay: 1s;
}

@for $i from 1 through 5 {
	.item#{$i} {
		width: 20px;
		height: 20px;
		background: #f583a1;
		border-radius: 50%;
		@include anim();
		background-color: nth($color, $i);
		margin: 7px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:before {
			content: '';
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: nth($color, $i);
			opacity: 0.7;
			animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
			animation-delay: 200ms * $i;
			transition: 0.5s all ease;
			transform: scale(1);
		}
	}
}
