.label {
	display: block;
	height: 27px;
	font-size: 20px;
	letter-spacing: 0.7px;
	text-align: left;
	color: #243743;
	margin-bottom: 10px;
	white-space: nowrap;
}

.labelServiceQuestion {
	display: block;
	height: 27px;
	font-size: 16px;
	letter-spacing: 0.7px;
	text-align: left;
	color: #a1a9af;
	margin-bottom: -8px;
	margin-top: 15px;
	white-space: nowrap;
}

.labelLight {
	display: block;
	height: 27px;
	font-size: 20px;
	letter-spacing: 0.7px;
	text-align: left;
	color: #4a4a4a;
	margin-bottom: 10px;
	white-space: nowrap;
}

.rightLabel {
	margin-top: 17px;
	font-size: 20px;
	color: #38b6ff;
	cursor: pointer;
}

.labelContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input::-webkit-contacts-auto-fill-button {
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	right: 0;
}
.inputContainer {
	position: relative;
}

.input {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-family: HelveticaNeue;
	font-weight: 400;
	font-size: 22px;
	color: #243743;
	background: #ffffff;
	border: 1px solid #a1a9af;
	box-sizing: border-box;
	border-radius: 9px;
	font-weight: 600;
	padding: 0 22px;
	padding-right: 60px;
	outline: none;

	&Container {
		margin-bottom: 20px;
	}

	&::placeholder {
		font-weight: normal;
		color: #a1a9af;
	}
}

.inputLight {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-family: HelveticaNeue;
	font-weight: 400;
	font-size: 22px;
	color: #243743;
	background: #ffffff;
	border: none;
	box-sizing: border-box;
	border-radius: 9px;
	font-weight: 600;
	padding: 0 22px;
	padding-right: 60px;
	outline: none;

	&Container {
		margin-bottom: 20px;
	}

	&::placeholder {
		font-weight: normal;
		color: #a1a9af;
	}
}

.ServiceQuestion {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: HelveticaNeue;
	font-weight: 400;
	font-size: 22px;
	color: #243743;
	background: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #a1a9af;
	box-sizing: border-box;
	border-radius: 0px;

	font-weight: 600;
	padding: 0 1px;
	padding-right: 60px;
	outline: none;

	&Container {
		margin-bottom: 20px;
	}

	&::placeholder {
		font-size: 20px;
		font-weight: normal;
		color: #a1a9af;
	}
}

.error {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #ea4640;
	margin-top: 5px;
}

.warning {
	position: absolute;
	bottom: 15px;
	right: 25px;
}
