.outerContainer {
	display: flex;
	width: 100%;
	height: 100%;
}
.Container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;

	background-color: #f5f6f9;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.title {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: nowrap;
}

.cross {
	margin-right: 50px;
	cursor: pointer;
}

.contentContainer {
	margin-left: 20px;
}
.userDataContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.userDataInfo {
	padding-right: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.subTitle {
	font-family: HelveticaNeue;
	font-size: 18px;
	color: #a1a9af;
	white-space: normal;
}
.userText {
	font-family: HelveticaNeue;
	font-size: 20px;
	color: #243743;
	white-space: normal;
}

.serviceHeaderContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	margin-right: 50px;
}

.hr {
	border-top: 1px dashed #a1a9af;
	margin-right: 50px;
}
.serviceHeader {
	font-family: HelveticaNeue-Medium;
	font-weight: 500;
	font-size: 22px;
	color: #243743;
	white-space: nowrap;
}

.serviceGroupHeader {
	font-family: HelveticaNeue;
	font-weight: 500;
	font-size: 20px;
	color: #a1a9af;
	white-space: nowrap;
}

.tableHeader {
	margin-top: 20px;
	margin-right: 30px;
	display: flex;
	flex-direction: row;
	color: #a1a9af;
}

.headerTextFirst {
	text-align: left;
	width: 40%;
	font-size: 16px;
}

.headerText {
	text-align: center;
	width: 12%;
}

.contentTableRow {
	margin-top: 20px;
	margin-right: 30px;
	display: flex;
	flex-direction: row;
	color: #243743;
}

.contentTextFirst {
	text-align: left;
	width: 40%;
	font-size: 18px;
}

.contentTextWrapper {
	width: 12%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contentTextBold {
	font-family: HelveticaNeue-Medium;
	font-size: 18px;
	color: #243743;
	white-space: nowrap;
}

.contentTextGray {
	font-size: 16px;
	color: #a1a9af;
	white-space: nowrap;
}

.buttonsContainer {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 50px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
