.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 80px;
	background-color: #ffffff;
	border-left: 1px solid #f5f6f9;
}

.userNameContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 80px;
	border-left: 1px solid #f5f6f9;
}

.userNameLabel {
	margin-left: 19px;
	font-size: 22px;
	color: #a1a9af;
}

.userName {
	margin-left: 8px;
	margin-right: 10px;
	font-size: 22px;
	color: #243743;
}

.iconContainer {
	cursor: pointer;
}
.arrowDown {
	margin-left: 25px;
	margin-right: 25px;
	width: 30px;
}

.popup {
	cursor: pointer;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 100px;
	height: 30px;
	color: #243743;
	font-size: 14px;
	right: 0;
	top: 80px;
	border-radius: 5px;
	box-shadow: 2px 2px 15px 5px rgba(188, 188, 188, 0.11);
}
