.resetContainer {
	display: flex;
	flex-direction: row;
}

.image {
	height: 100vh;
}

.contentContainer {
	overflow-y: scroll;
	white-space: nowrap;
	max-height: 100vh;
	margin-left: 70px;
	padding-right: 80px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	margin-top: 120px;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #243743;
	margin-bottom: 30px;
	white-space: nowrap;
}

.subTitle {
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	margin-bottom: 30px;
	white-space: normal;
}
.logo {
	width: 211px;
	margin-bottom: 80px;
}

.button {
	margin-bottom: 100px;
}
