.dashboardContainer {
	background-color: #f5f6f9;
}
.title {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	margin-top: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: nowrap;
}

.subTitle {
	font-weight: 500;
	font-size: 20px;
	color: #243743;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 25px;
	white-space: normal;
}

.servicesContainer {
	display: flex;
	flex-wrap: wrap;
}
.text {
	font-weight: 500;
	font-size: 20px;
	color: #a1a9af;
	margin-left: 20px;
	margin-left: 20px;
	margin-top: 40px;
	margin-bottom: 30px;
	white-space: normal;
}

.buttonsContainer {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.buttonLogo {
	width: 30px;
}

.buttonInner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
