.serviceContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	margin-left: 20px;
	height: 238px;
	width: 350px;
	background-color: #ffffff;
	border-radius: 8px;
}

.serviceContainerSubmited {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	margin-left: 20px;
	height: 238px;
	width: 350px;
	background-color: #ebf7ff;
	border-radius: 8px;
}

.title {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	height: 60px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: normal;
	text-align: center;
}

.titleSubmited {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	height: 60px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 30px;
	color: #38b6ff;
	white-space: normal;
	text-align: center;
}

.subTitle {
	margin-top: 10px;
	font-size: 22px;
	color: #a1a9af;
	white-space: nowrap;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
}
