.registerContainer {
	display: flex;
	flex-direction: row;
}

.image {
	height: 100vh;
}

.contentContainer {
	overflow-y: scroll;
	white-space: nowrap;
	max-height: 100vh;
	margin-left: 70px;
	padding-right: 80px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 80px;
	font-size: 40px;
	font-weight: 400;
	color: #243743;
	margin-bottom: 14px;
	white-space: nowrap;
}

.logo {
	margin-bottom: 30px;
}

.termsContainer {
	font-size: 22px;
	letter-spacing: 0.77px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	color: #a1a9af;
}

.checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.termsCommon {
	margin-left: 15px;
}

.terms {
	cursor: pointer;
	margin-left: 5px;
	font-weight: 600;
	color: #38b6ff;
}

.modal {
	overflow-y: auto;
	position: absolute;
    top: 40px;
    left: 80px;
    right: 80px;
    bottom: 40px;
	background-color:white;
	border-radius: 9px;
}

.modal:focus {
	outline:0;
}

.modalOverlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  	background-color: rgba(0,0,0,0.2)
}
