.outerContainer {
	display: flex;
	width: 100%;
	height: 100%;
}
.Container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	background-color: #f5f6f9;
}

.title {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: nowrap;
}

.contentContainer {
	margin-left: 20px;
}
.userDataContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.userDataInfo {
	width: 30%;
	padding-right: 30px;
	margin-right: 40px;
	margin-bottom: 30px;
}

.subTitle {
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: HelveticaNeue;
	font-size: 20px;
	color: #a1a9af;
	white-space: normal;
}

.userText {
	font-family: HelveticaNeue;
	font-size: 20px;
	color: #243743;
	white-space: normal;
}

.hr {
	border-top: 1px dashed #a1a9af;
	margin-right: 70px;
}

.questionsContainerInput {
	display: flex;
	flex-wrap: wrap;
}
.inputWrapper {
	margin-right: 40px;
	width: 30%;
}

.buttonsContainer {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 70px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
