.outerContainer {
	display: flex;
	width: 100%;
	height: 100%;
}

.registredCompaniesContainer {
	display: flex;
	overflow: hidden;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f5f6f9;
}
.title {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: nowrap;
}
.tableContainer {
	margin-left: 20px;
	height: 75vh;
}
.tableHeader {
	margin-right: 30px;
	display: flex;
	flex-direction: row;
	color: #a1a9af;
	font-size: 16px;
}

.headerTextFirst {
	padding-right: 5px;
	margin-left: 15px;
	text-align: left;
	width: 17%;
}

.headerText {
	padding-right: 5px;
	text-align: left;
	width: 17%;
}
.headerTextNumber {
	padding-right: 5px;
	text-align: left;
	width: 10%;
}
.headerTextEmail {
	padding-right: 5px;
	text-align: left;
	width: 25%;
}

.accessRemovedContentCollapsed {
	height: 0%;
}
.accessRemovedHeader {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.accessRemovedTitle {
	display: flex;
	align-items: center;
	width: 280px;
	color: #a1a9af;
	font-size: 30px;
}

.dashedLine {
	width: 100%;
	height: 1px;
	border-top: 1px dashed #a1a9af;
}

.icon {
	margin-right: 30px;
}
.arrowLogo {
	width: 30px;
}

.buttonsContainer {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 50px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.buttonLogo {
	width: 30px;
}

.buttonInner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
