.container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.textHeader {
	font-size: 30px;
	text-align: center;
}

.text {
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 10px;
	font-size: 14px;
}

.buttonContainer {
	margin: 30px 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
