.companyDetailsContainer {
	display: flex;
	flex-direction: row;
}

.image {
	height: 100vh;
}

.contentContainer {
	overflow-y: scroll;
	white-space: nowrap;
	max-height: 100vh;
	margin-left: 70px;
	padding-right: 80px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 80px;
	font-size: 40px;
	font-weight: 400;
	color: #243743;
	margin-bottom: 14px;
	white-space: normal;
}

.selectCountry {
	margin-bottom: 35px;
}

.labelCountry {
	display: block;
	height: 27px;
	font-size: 20px;
	letter-spacing: 0.7px;
	text-align: left;
	color: #243743;
	margin-bottom: 10px;
}

.warning {
	position: absolute;
	bottom: 15px;
	right: 25px;
}

.inputContainer {
	position: relative;
}
