.outerContainer {
	display: flex;
	width: 100%;
	height: 100%;
}
.Container {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	background-color: #f5f6f9;
}
.title {
	font-family: HelveticaNeue-Medium;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: nowrap;
}
.tableContainer {
	margin-left: 20px;
	height: 75vh;
}
.tableHeader {
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	color: #a1a9af;
	font-size: 16px;
}

.headerTextFirst {
	padding-right: 5px;
	margin-left: 15px;
	text-align: left;
	width: 20%;
}

.headerText {
	padding-right: 5px;
	text-align: left;
	width: 20%;
}

.headerTextEmail {
	padding-right: 5px;
	padding-right: 5px;
	text-align: left;
	width: 40%;
}

.contentWrapper {
	position: relative;
	margin-top: 10px;
	margin-right: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	height: 69px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #243743;
	font-size: 18px;
}
.contentTextFirst {
	padding-right: 5px;
	margin-left: 15px;
	text-align: left;
	width: 20%;
	word-wrap: break-word;
}

.contentText {
	padding-right: 5px;
	text-align: left;
	width: 20%;
	word-wrap: break-word;
}

.contentTextEmail {
	padding-right: 5px;
	text-align: left;
	width: 40%;
	word-wrap: break-word;
}

.emailHref {
	color: #243743;
}

.emailHref:hover {
	color: #38b6ff;
	text-decoration: underline;
}
