.outerContainer {
	display: flex;
	width: 100%;
	height: 100%;
}

.container {
	margin-left: 20px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.arrowContainer {
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 30px;
}

.title {
	font-family: HelveticaNeue-Medium;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	white-space: nowrap;
}

.selectIndustrie {
	margin-bottom: 35px;
}

.labelIndustrie {
	display: block;
	height: 27px;
	font-size: 20px;
	letter-spacing: 0.7px;
	text-align: left;
	color: #4a4a4a;
	margin-bottom: 10px;
}

.warning {
	position: absolute;
	bottom: 15px;
	right: 25px;
}

.inputIndustrieContainer {
	position: relative;
	margin-right: 50px;
}

.inputsContainer {
	display: flex;
	flex-direction: row;
}

.inputWrapper {
	width: 50%;
	margin-right: 50px;
}
.buttonContainer {
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.buttonLogo {
	width: 30px;
}

.buttonInner {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 1100px;
	background-color: white;
	border-radius: 9px;
}
.modal:focus {
	outline: 0;
}

.modalOverlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.popupWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	white-space: normal;
	word-wrap: break-word;
}

.popupText {
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	margin-left: 10px;
	margin-bottom: 30px;
	margin-right: 10px;
	white-space: nowrap;
	word-wrap: break-word;
}

.popupTextBold {
	font-family: HelveticaNeue-Medium;
	font-weight: 500;
	font-size: 30px;
	color: #243743;
	margin-bottom: 30px;
	white-space: nowrap;
	word-wrap: break-word;
}
